extends ../layouts/main.pug

block content
  div(class="card")
    div(class="card-body")
      h1(class="card-title") Login de usuario
      form(id="loginForm" method="post" action="/login")
        div(class="mb-3")
          label(class="form-label") Ingrese su nombre
          input(type="text" class="form-control" name="username")
        button(type="submit" class="btn btn-primary") Ingresar